#sidebar{
  background-color: #fff;
  color: #555;
  font-size:10pt;
  text-align: center;
  padding:0px;
  border-right:1px #CCC solid;
  height:100% !important;
}

#profile-image{
  width: 100px;
  height: 100px;
  margin-top:.5em;
  margin-bottom:.5em;
}

.editButton a:hover{
  cursor:pointer;
  color:#777;
}

.editButton, .editButton a{
  font-size:18pt;
  color:#555;
  text-align:right;
  padding:.5em;
}