#sidebar{
  background-color: #fff;
  color: #555;
  height: 100%;
  text-align: center;
  border-right:1px #CCC solid;
}

#sidebar ul{
  list-style-type: none;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
}

#sidebar ul li a{
  display: block;
  color: #a1a1a1;
  background-color: #f1f1f1;
  padding: 8px 16px;
  margin-bottom: 10px;
  text-decoration: none;
}

#sidebar ul li a:hover{
  background-color: #555;
  color: #fff;
}


#circle-image{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top:.5em;
  margin-bottom:.5em;
}

.editButton a:hover{
  cursor:pointer;
  color:#777;
}

.editButton, .editButton a{
  font-size:18pt;
  color:#555;
  text-align:right;
  padding:.5em;
}