.cap{
  padding-top:2%;
  margin-bottom:.3em;
}
.formContainer{
  top:16%;
  position:absolute;
  width:100%;
}
.center {
  text-align: center;
}
.title{
  font-size:3em;
}
.textDivider{
  font-size:10pt;
}
.noTopDivider{
  margin-top:10px !important;
}