.studyGroup {
  background-color: #fff;
  color: #555;
  text-align: center;
  margin-top:40px;
  padding:1em;
  height:initial;
}

.chatLink{
  width:100%;
}

.title{
  font-size: 1em;
  text-align: center;
  margin: 20px 10px 10px 10px;
  border-bottom: 1px solid #a1a1a1;
}

