.hidden {
  display: none;
}

.appear {
  display: inline-block;
}

/* Icons */
.cap {
  display: inline;
  font-size: 1.2em;
  margin-right: .35em;
}

.small-nav-icon {
  display: inline;
  font-size: 1.4em;
}

.nav-links-inline {
  display: inline;
}

/* Navbar related classes*/
#navbar{
  width: 100%;
  background-color: #446CB3;
  color: #fff;
  padding: 0;
  height: auto;
}
#navbar ul li{
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
#navbar a{
  color:  #90a9d5;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0;

}
#navbar a:hover{
  color: #fff;
}

.right{
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1.4em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

#brand span{
  font-size: 1.5em;
  margin: 0 40px 0 30px;
  color: #fff;
}

/* Signout Button in Navbar*/
#signout{
  border-left: 1px solid #6b8dc7;
  margin-left: 5px;
  padding-left: 20px;
}
#signout a{
  color: #fff;
  border: 1px solid #fff;
}
#signout a:hover{
  color: #90a9d5;
}