#loading-container {
    height: 100vh;
    font-size: 3em;
}

#loading-icon {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboardContainer {
	background-color:#eee;
	height:100%;
}