#message-area {
  background-color: white;
  overflow-y:scroll;
  height: calc(100% - 100px - 6em);
	z-index: 10;
	padding:1em;
	line-height: 2em;
	width:100%;
	font-size: 11pt;
}

#message-input {
	height: 100px;
	margin:0;
	background-color:#ffffff;
}

#message-input textarea{
	margin:1em;
	margin-right:2em;
	width:90%;
}

#message-wrapper {
  height: 100%;
  padding:0px;
  background-color:#ffffff;
}

#message-send:hover{
	cursor: pointer;
}

#chat-menu{
	background:#29b6f6;
	height:6em;
	width:100%;
	z-index: -5;
  border-top:1px #FFF solid;
}

#chat-title{
	line-height: 3em;
	padding-left: 1em;
	padding-right:1em;
	font-size: 12pt;
}

#add-link{
	float:right;
	font-size:10pt;
	padding:1.2em;
}

#add-link:hover{
	cursor:pointer;
	color:rgba(255,255,255,0.6);
}

#table{
	font-size:12pt;
	margin-bottom:0px;
	margin-top:1em;
}

#table tbody tr td:hover{
	cursor: pointer;
}

[type=button]:hover{
	cursor: pointer;
}

#modal-header{
	font-size:10pt;
}

#modal-header h5{
	float:left;
}

#modal-header button span{
	font-size:16pt;
}

#modal-body{
	padding-top:0;
}